name: Build

on:
  push:
    paths-ignore:
      - ".github/**"
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: chmod +x gradlew && ./gradlew build

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact
          path: build/libs
